<% provide(:title, "Help") %>
    <h1>Help</h1>
    <p> 
      このWebサイトは、あなたの車を紹介するアプリケーションです。
    </p>
    <p>
      もし、退会したい場合は<span class="text-success">khaneymarmegamax@gmail.com
      </span>まで
    </p>
