<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
    </aside>
  </div>
<% else %>
    <div class="center jumbotron">
    <h1>Welcome to SHARE YOUR CAR App</h1>
  
    <h2>
      このホームページは
      <a href="https://railstutorial.jp/">Ruby on Rails Tutorialをもとに作成しています</a>
    </h2>
  
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  <% end %>
  