下記のリセット用のリンクをクリックしてパスワードの再設定を行なってください

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>

リンクは２時間経過すると無効になります。

If you did not request your password to be reset, please ignore this email and
your password will stay as it is.
