<li>
    <%= image_tag user.image, size: 200 %>
    <%= link_to user.name, user %>
    <% if user.car_model != "" && user.car_model != nil %>
    車種 :
    <%= user.car_model %>
    <% end %>
    <% if current_user.admin? && !current_user?(user) %>
        | <%= link_to "delete", user, method: :delete,
                                      data: { confirm: "You sure?" } %>
    <% end %>
</li>