<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user,url: signup_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>      
      <%= f.label :name,"名前（必須）" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email,"メールアドレス（必須）" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :car_model,"あなたの車種" %>
      <%= f.text_field :car_model, class: 'form-control' %>

      <%= f.label :image,"車の写真を追加しよう" %>
      <%= f.file_field :image, class: 'form-control' %>

      <%= f.label :password,"パスワード（必須）" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワードをもう一度入力してください（必須）" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>