<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
        <h1>
            <%= gravatar_for @user %>
            <%= @user.name %>さん
        </h1>
    </section>
  </aside>

  <% if @user.car_model != "" || @user.car_model != nil %>
  <h1 class="text-success">あなたの車種：
    <span class="text-danger">
    <%= @user.car_model %>
    </span>
  <p>
  <img src="<%= @user.image %>" alt"image" width="600" height="400">
  </p>
  <% else %>
  まだ車を登録していません
  <% end %>
  </h1>

</div>