<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "view my profile", current_user %></span>
<% if !current_user.car_model %>
<p>車を
<%= link_to "登録", edit_user_path(current_user) %>
しませんか？
<% end %>
